*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Arial', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  line-height: normal;
  color: #000;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  cursor: pointer;
}

ul, li{
  list-style: none;
}

ul{
  margin: 4rem 0;
}

li{
  width: 100%;
  padding: 1rem 0;
}

li a{
  color: red;
}

/* custom */
#root{
  width: 300px;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
}

h1{
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.hero-img{
  width: 50px;
  height: 50px;
  margin: 2vh auto;
}

.add-item{
  width: 100%;
  margin: 4rem 0;
  padding: 1rem 0;
  font-size: 1rem;
  border-bottom: 1px solid #000;
}

.item-list{
  width: 100%;
}

.item-list li{  
  width: 100%;
  float: left;
  border-bottom: 1px solid #000;
  font-size: 3rem;
  text-align: left;
}

.item-list li div,
.container *{
  float: left;
}

.container{  
  width: 90%;
}

.container p{
  padding: 0 1rem;
}

.container p span{
  float: right;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.container p span small{
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
}

.remove-button{
  float: right;
  background: none;
  margin-top: .5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: red;
}


